{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{ pokemon.name|capfirst }}</h1>
            <div class="pokemon-image-container">
                <img src="{{ pokemon.sprites.front_default }}" 
                alt="{{ pokemon.name }}" 
                class="pokemon-image" 
                onclick="playCry('{{ pokemon.cries.latest|safe }}')" 
                onmouseover="this.src='{{ pokemon.sprites.front_shiny }}'" 
                onmouseout="this.src='{{ pokemon.sprites.front_default }}'">
            </div>
        </div>

        <div class="details">
            <h2>Details</h2>
            <ul>
                <li><strong>ID:</strong> {{ pokemon.id }}</li>
                <li><strong>Height:</strong> {{ pokemon.height }} decimetres</li>
                <li><strong>Weight:</strong> {{ pokemon.weight }} hectograms</li>
                <li><strong>Base Experience:</strong> {{ pokemon.base_experience }}</li>
            </ul>

            <h3>Abilities</h3>
            <ul>
                {% for ability in pokemon.abilities %}
                <li>{{ ability.ability.name|capfirst }}</li>
                {% endfor %}
            </ul>

            <h3>Types</h3>
            <ul>
                {% for type in pokemon.types %}
                <li>{{ type.type.name|capfirst }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="navv">
            <div>
                <img src="{{ before.sprites.front_default }}" alt="">
                <a href="{% url 'detail' before.name %}">Previous</a>
            </div>
            
            <div>
                <a href="{% url 'detail' after.name %}">Next</a>
                <img src="{{ after.sprites.front_default }}" alt="">
            </div>
        </div>
    </div>

    <script>
        function playCry(cryUrl) {
            const audio = new Audio(cryUrl);
            audio.play();
        }
    </script>
</body>
</html>