{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil - CroquiDex{% endblock %}

{% block content %}
    <div class="home-container">
        <h1>Bienvenue sur CroquiDex</h1>
        <div class="pokemon-container">
            <div class="pokemon-list">
                {% for pokemon in all %}
                    <a href="{% url 'detail' pokemon.0 %}" class="pokemon-card-home" style="text-decoration: none; color: inherit;">
                        <img src="{{ pokemon.1 }}" alt="{{ pokemon.0 }}">
                        <p>{{ pokemon.0 }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}